<!-- app/views/user_mailer/event_participation_email.html.erb -->
<h1>Un utilisateur s'est inscrit à votre événement !</h1>
<p>Bonjour <%= @administrator.first_name %>,</p>
<p>Un utilisateur s'est inscrit à votre événement "<%= @event.title %>".</p>
<p>Vous pouvez voir les détails des participants sur votre page d'événement.</p>
