<!-- app/views/user_mailer/welcome_email.html.erb -->
<h1>Bienvenue, <%= @user.first_name %> !</h1>
<p>Merci de vous être inscrit(e) sur notre plateforme Eventbrite-like.</p>
<p>Nous sommes ravis de vous accueillir et espérons que vous trouverez des événements intéressants !</p>
